範例1

In [ ]:
name1 = {'Billy':165,'Bob':168,'Mary':170,'Joe':168}
print(name1)

範例2

In [ ]:
name1 = { 
    'Billy':165,
    'Bob':160,
    'Mary':170,
    'Joe':168
}
print(name1)

範例3

In [ ]:
name2 = {}
name2['Billy']=165 
name2['Bob']=168
name2['Joe']=168
name2['Mary']=170
name2['徐小訓']=172
name2

範例4

In [ ]:
name2['徐小訓']

範例5

In [ ]:
name2['徐小']

範例6

In [ ]:
print(name2.get('徐小'))

範例7

In [ ]:
name2['徐小訓'] = 180
name2

範例8

In [ ]:
name2['徐小'] = 172
name2

範例9

In [ ]:
list1 = [['a',0],['b',0]]
dict1 = dict(list1)
dict1

範例10

In [ ]:
keys='abcd'
values=[1,2,3,4]
d = {key: value for key, value in zip(keys,values)}
d

範例11

In [ ]:
name2 = {'Billy': 165, 'Bob': 168, 'Joe': 168, 'Mary': 170, '徐小訓': 172}
name2.items()

範例12

In [ ]:
for k,v in name2.items(): 
    print(k,v)

範例13

In [ ]:
for k in name2.keys():
    print(k,name2[k])

範例14

In [ ]:
for v in name2.values():
    print(v)

範例15

In [ ]:
for k in name2:
    print(k,name2[k])

範例16

In [ ]:
for k in sorted(name2.keys(), reverse=True):
    print(k,name2[k])

範例17

In [ ]:
list1 = ['a','b','c','b','b','a']
set(list1)